# Dependencies
node_modules/
*/node_modules/

# Environment files
.env
.env.*
!.env.example

# Build files
dist/
build/

# IDE and OS files
.DS_Store
.idea/
.vscode/
*.log

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production
/build
/dist

# Miscellaneous
*.pem
*.pid
*.seed
*.pid.lock